@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>@Html.ActionLink("Manage Users", "Index", "User")</div>
<div>@Html.ActionLink("Manage Components", "Index", "Component")</div>
<div>@Html.ActionLink("Manage Projects", "Index", "Project")</div>
<div>@Html.ActionLink("Manage Risk Levels", "Index", "Risk")</div>
<div>@Html.ActionLink("Manage Role Levels", "Index", "Role")</div>
<div>@Html.ActionLink("Manage Work Statuses", "Index", "Status")</div>
